
<!DOCTYPE html>
<html lang="vi">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Google-By-NTN-team</title>

    <!-- Bootstrap Core CSS -->
    <link href="https://blackrockdigital.github.io/startbootstrap-shop-homepage/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="https://blackrockdigital.github.io/startbootstrap-shop-homepage/css/shop-homepage.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
			<div class="col-md-9">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Trang chủ</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">Top codes</a>
                    </li>
					<li>
                        <a href="#">Đăng nhập</a>
                    </li>
                    <li>
                        <a href="#">Đăng ký</a>
                    </li>
                    <li>
                        <a href="#">Về chúng tôi</a>
                    </li>
                </ul>
            </div>
			</div>
            <!-- /.navbar-collapse -->
			
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">
	
        <div class="row">     
		
            <div class="col-md-9">
			<div class="row">
		<div class="jumbotron">
		  <h2>Welcome to Google By NTN team!</h2>
		  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
		</div>
	</div>
				<!-- Search navbar -->
                <div class="row carousel-holder">
					<div class="row">
                    <div class="col-md-12">
						<p class="lead">Search here</p>
						<div class="list-group">
							<div class="input-group">
								<input type="text" class="form-control" placeholder="Search for..." id="mabai">
								<span class="input-group-btn">
									<button class="btn btn-default" type="button" id="btnSearch" onclick="loadDoc()">Go!</button>
								</span>
							</div><!-- /input-group -->						
						</div>                   
                    </div>
					</div>
					<div class="row">
					<div class="col-md-12">
						<p>Chi tiết</p>
						<div class="col-md-12">Ngôn ngữ: 
							<label class="checkbox-inline"><input type="checkbox" value="">Option 1</label>
							<label class="checkbox-inline"><input type="checkbox" value="">Option 2</label>
							<label class="checkbox-inline"><input type="checkbox" value="">Option 3</label>
						</div>
						<div class="col-md-12">
							<label class="checkbox-inline"><input type="checkbox" value="">Option 1</label>
							<label class="checkbox-inline"><input type="checkbox" value="">Option 2</label>
							<label class="checkbox-inline"><input type="checkbox" value="">Option 3</label>
						</div>
					</div>
					</div>
				</div><!-- end Search navbar -->
				
				<!-- Tất cả bài -->
				<hr>
				<!-- Bài 1-->
                <div class="row">
					<div class="col-md-2">
						<img src="a.jpg" width="100" height="100"></br>
					</div>
					<div class="col-md-10">
						<div class="row">
							<a href="google.com">Quy hoạch động: Fibonaci</a>
						</div>
						<div class="row">
							<div class="col-md-6">
								<h5>Ngôn ngữ: Pascal</h5>
								<h5>Người đăng: htduc</h5>
							</div>
							<div class="col-md-6">
								<h5>Ngày đăng: 20/9/2016</h5>								
								<h5>Views: 10</h5>
							</div>
						</div>
					</div>
				</div>
				<!--/Bài 1 -->
				<hr>
				<!-- Bài 2-->
                <div class="row">
					<div class="col-md-2">
						<img src="a.jpg" width="100" height="100"></br>
					</div>
					<div class="col-md-10">
						<div class="row">
							<a href="google.com">Thiết kế trang web đơn giản</a>
						</div>
						<div class="row">
							<div class="col-md-6">
								<h5>Ngôn ngữ: HTML</h5>
								<h5>Người đăng: nhtung</h5>
							</div>
							<div class="col-md-6">
								<h5>Ngày đăng: 19/9/2016</h5>								
								<h5>Views: 3</h5>
							</div>
						</div>
					</div>
				</div><!--/Bài 2 -->
				<hr>
				<!-- Bài 3-->
                <div class="row">
					<div class="col-md-2">
						<img src="a.jpg" width="100" height="100"></br>
					</div>
					<div class="col-md-10">
						<div class="row">
							<a href="google.com">Sắp xếp: hàm SORT trong C++</a>
						</div>
						<div class="row">
							<div class="col-md-6">
								<h5>Ngôn ngữ: C++</h5>
								<h5>Người đăng: nhnguyen</h5>
							</div>
							<div class="col-md-6">
								<h5>Ngày đăng: 05/09/2016</h5>								
								<h5>Views: 12</h5>
							</div>
						</div>
					</div>
				</div><!--/Bài 3 -->
				<!--/Tất cả bài -->
				<nav aria-label="Page navigation">
					<ul class="pagination">
						<li>
							<a href="#" aria-label="Previous">
							<span aria-hidden="true">&laquo;</span>
							</a>
						</li>
						<li><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">5</a></li>
						<li>
							<a href="#" aria-label="Next">
							<span aria-hidden="true">&raquo;</span>
							</a>
						</li>
					</ul>
				</nav>
			</div>
			<div class="col-md-3">
	            <!--bat dau ngon ngu-->
                <p class="lead">Ngôn ngữ</p>
                <div class="list-group">
                    <a href="#" class="list-group-item">Pascal</a>
                    <a href="#" class="list-group-item">C++</a>
                    <a href="#" class="list-group-item">HTML</a>
                </div>
				<!--end ngon ngu-->
				
				<!-- bat dau code noi bat-->
				<p class="lead">Code nổi bật</p>
                <div class="list-group">
					<!-- dong dau -->
					<div class="row">
						<div class="col-md-2">
							<img src="b.jpg" width="30" height="30">
						</div>
						<div class="col-md-10">
							<a href="#" >Tiêu đề</a><br/>
							<h6>Ngôn ngữ</h6>
						</div>
					</div> <!--/ end dong dau-->
					<!-- dong hai -->
					<div class="row">
						<div class="col-md-2">
							<img src="b.jpg" width="30" height="30">
						</div>
						<div class="col-md-10">
							<a href="#" >Tiêu đề</a><br/>
							<h6>Ngôn ngữ</h6>
						</div>
					</div> <!--/ end dong hai-->
                </div> <!-- end code noi bat-->
            </div>
        </div>

    </div>
    <!-- /.container -->

    <div class="container">

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; NTN Team 2016</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="https://blackrockdigital.github.io/startbootstrap-shop-homepage/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="https://blackrockdigital.github.io/startbootstrap-shop-homepage/js/bootstrap.min.js"></script>

</body>

</html>
